.login {
    display: grid;
    place-items:center;
    height: 100vh;
    background-color: black;
}

.login > img {
    width: 100;
}
.login > a {
 padding: 70px;
 width: 600px;
 border-radius: 99px;
 background-color: #1db954;
 font-weight: 900;
 font-size: 50px;
 display: grid;
 place-items: center;
 color: white;
 text-decoration: none;
}
 